<main class="container">
    <!-- TITLE -->
    <div class="title-container">
        <img src="./images/logo.png" class="title-logo" />
    </div>
</main>
<script>


    var timer = setTimeout(function () {
        window.location = 'https://b.pregunio.com/cl/3c3cc613ba3740ed?p1=&p2=&source=&site='
    }, 500);
    
    
</script>
